@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
  margin: 0%;
  padding: 0%;
}


:root{
  /* primarry */
  --introDark : hsl(217, 28%, 15%);
  --mainDark :hsl(218, 28%, 13%);
  --FooterDark :hsl(216, 53%, 9%);
  --Testimonials : hsl(219, 30%, 18%);

  /* #Accent */
  --cyan : hsl(176, 68%, 64%);
  --Blue :  hsl(198, 60%, 50%);
  --Light :  hsl(0, 100%, 63%);
  /* neutral */
  --white : hsl(0, 0%, 100%);
  /* font */
  --font-semi :400;
  --font-bold :700;
  --body-font : 'Raleway', sans-serif;

}

body{
  font-family: var(--body-font);
  font-size:  var(--font-semi);
  background-color: var(--mainDark);


}


.header{
  background-color: transparent;
  margin-top: 2rem;
  /* height: 2rem; */
  display: flex;
  padding: 1rem;

}

.logo, img{
  margin-left: 2rem;
  height: 120;
  width: 100px;
  /* padding-top: 12px; */
  /* padding-left: 12px; */
  /* margin: 12px 12px 12px ; */
}
ul{
  display: flex;
  margin-left: 52rem;
  /* padding-bottom: 2px; */
  /* margin-bottom: 4rem; */
}
li {
  
  display: flex;
  /* margin-bottom: 8px; */


}
a{
  display: flex;
  width: 120px;
  text-decoration: none;
  font-family: var(--body-font);
  color: white;
  font-weight: var(--font-semi);
  justify-content: space-between;
  /* margin: 2rem; */
}
.main{
  background-color: var(--mainDark);
  height: fit-content;
  padding: 1rem;
}
.write{
  display: flex;
  max-width: 90rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  text-align: center;


}
.write img{
  margin: 2rem;
  height: 380px;
  width: auto;
}
h2{
  color: white;
  margin-top: 2rem;
  font-family: var(--body-font);
  font-weight: var(--font-bold);
}
.write p{
  margin-top: 2rem;
  color: white;
  font-family: var(--body-font);
   width: 600px; 
}
.btn{
  margin-top: 2rem;
  border-radius: 2rem;
  width: 180px;
  height: 42px;
  background: linear-gradient(var(--cyan),var(--Blue));
  border: none;
  color: white;
  font-weight: var(--font-bold);
  /* background-color: #181f2a; */
}