@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
  margin: 0%;
  padding: 0%;
}


:root{
  /* primarry */
  --introDark : hsl(217, 28%, 15%);
  --mainDark :hsl(218, 28%, 13%);
  --FooterDark :hsl(216, 53%, 9%);
  --Testimonials : hsl(219, 30%, 18%);

  /* #Accent */
  --cyan : hsl(176, 68%, 64%);
  --Blue :  hsl(198, 60%, 50%);
  --Light :  hsl(0, 100%, 63%);
  /* neutral */
  --white : hsl(0, 0%, 100%);
  /* font */
  --font-semi :400;
  --font-bold :700;
  --body-font : 'Raleway', sans-serif;

}

body{
  font-family: var(--body-font);
  font-size:  var(--font-semi);
  background-color: var(--introDark);


}



.nav{
  width: 85%;
  height: 15vh;

  


}
.navb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}
.logo{
  /* margin-top: 2rem; */
  height: auto;
  width: 130px;
  cursor: pointer;

}
ul.navbar{
  list-style: none;
  display: flex;

  /* margin-left: 40rem; */

  
 
}
ul.navbar li {
 width: 100px;
}
ul.navbar li a{
  display: flex;
  align-items: center;
  justify-content: space-between;
   /* margin-left: 45rem; */
   width: 100%;
  text-decoration: none;
  color: #fff;

 
}
ul.navbar li a:hover{
  text-decoration: underline;
}
.main{
 display: flex;
 align-items: center;
 flex-direction: column;
 text-align: center;
}
.write{
  display: flex;
  max-width: 90rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  text-align: center;


}
.illustrate{
  margin: 2rem;
  height: auto;
  width: 50%;
 
}
h1{
  color: white;
  margin-top: 2rem;
  font-family: var(--body-font);
  font-weight: var(--font-bold);
}
.write p{
  margin-top: 2rem;
  color: white;
  font-family: var(--body-font);
   width: 600px; 
}
.btn{
  margin-top: 2rem;
  border-radius: 2rem;
  width: 180px;
  height: 42px;
  background: linear-gradient(var(--cyan),var(--Blue));
  border: none;
  color: white;
  font-weight: var(--font-bold);
  /* background-color: #181f2a; */
}

.main{
  display: flex;
  flex-direction: column;
}

.buur{
  background-image: url(./images/bg-curvy-desktop.svg);
  width: 100%;
  height: 40vh;
  margin-right: 72rem;
  top: 800px;
  position: absolute;
}
.content{
  position: relative;
  top: 210px;
  background-color: var(--mainDark);
  height:auto ;
  width: 100%;
  margin-top: 0;
}